
body {
  padding-top: 50px;
  color: #5a5a5a;
}
<<<<<<< HEAD
a {
  color: #FFF;
}
a:hover {
  color: #FFF;
}
a:link {
    text-decoration: none;
}
.containerMarketing {
  padding-left: 120px
}
||||||| 223556f... Make Carousel links work
a {
  padding-top: 50px;
  color: #FFF;
}
a:hover {
  padding-top: 50px;
  color: #FFF;
}
a:link {
    text-decoration: none;
}
=======
>>>>>>> parent of 223556f... Make Carousel links work
#myCarousel {
  padding-bottom: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
