body {
  padding-top: 50px;
  color: #5a5a5a;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

